.h2Head {
    background-color: #808000;
}

.h3Head {
    background-color : purple
}

.h3Head {
    background-color: blue;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: "images/img1.jpg";

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
