.h2Head {
    background-color: #808000;
}

.h3Head {
    background-color : purple
}

.h3Head {
    background-color: blue;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
<<<<<<< HEAD
  background-image: "images/img1.jpg";
=======
  background-image: url("images/img1.jpg");
>>>>>>> 8310a8715ba3bbf66e9006f056c6c592a66cd186

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
